extends layout

block content
  h1= title
  h2= message
  p horaires de la salle :
  p du lundi au samedi de 10h à 22h
  ul
    each court in courts
      li
        | #{court.Name} - #{court.Status} - #{court.UnavailableDays} -
        a(href=court._links.next.href)= court._links.next.title
