extends layout

block content
  h1= title
  p Horaires de la salle :
  p Du lundi au samedi de 10h à 22h

  if message
    p Connecté en tant que #{message}

  if court.Status === "disponible"
    p Détails du terrain :
    ul
      li= `Nom: ${court.Name}`
      li= `Statut: ${court.Status}`
      li= `Indisponibilité: ${court.UnavailableDays}`
   
    a(href=court._links.next.href) Réserver
  else if court.Status === "réservé"
    h2 Terrain déjà réservé
  else
    h2 Statut du terrain inconnu
