extends layout

block content
  h1= _links.create.title
  h2= _links.create.description
  p= message

  form(action="/create-user", method="post")
    label(for="username") Choisissez un nom d'utilisateur:
    input(type="text", name="username")
    button(type="submit") Créer mon compte

  // Traitement des liens HAL
  if (_links)
    if (_links.next && _links.next.href)
      a(href=_links.next.href, title=_links.next.title) Se connecter

  if (error)
    p.error= error
