extends layout

block content
  h1= title
  h2 Création de compte de réservation
  p= message

  form(action="/create-user", method="post")
    label(for="username") Choisissez un nom d'utilisateur:
    input(type="text", name="username")
    button(type="submit") Créer mon compte

  // Traitement des liens HAL
  if (_links)
    if (_links.create && _links.create.href)
      a(href=_links.create.href, title=_links.create.title, target=_links.create.target) Créer un nouvel utilisateur

  if (error)
    p.error= error
